<h1 class="text-center pt-4">Wellcome to XXX!</h1>

<p class="text-center pb-4 text-muted">Please sign in below or <a [routerLink]="['/public/user/create']">create an
    account.</a>
</p>

<form class="mx-auto" [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <!-- <label for="email">Email</label> -->
    <input formControlName="email" type="email" class="form-control" name="email" id="email" placeholder="Email"
      required [ngClass]="{ 'is-invalid': submitted && email.errors }">
    <div *ngIf="submitted && email.errors" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <!-- <label for="password">Password</label> -->
    <input formControlName="password" type="password" class="form-control" name="password" id="password"
      aria-describedby="passwordHelp" placeholder="Password" required
      [ngClass]="{ 'is-invalid': submitted && password.errors }">

    <div *ngIf="submitted && password.errors" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="w-100 btn btn-primary" [disabled]="status ==='AUTHENTICATING'">
      <span class="text-uppercase" *ngIf="status !=='AUTHENTICATING'">Sign in</span>
      <span *ngIf="status ==='AUTHENTICATING'">Validating ... please wait</span>
    </button>
  </div>

  <div class="float-left">
    <a [routerLink]="['/public/user/password/reset']">Forgot your password?</a>
  </div>

  <div class="float-right">
    <span><input type="checkbox" name="signed" class="mr-2" /> Keep me signed in</span>
  </div>

  <div *ngIf="status === 'ERROR'">
    <p class="text-danger align-center">{{message}}</p>
  </div>

</form>