<div class="app-iwok-menu">

  <div class="buttons">
    <i class="material-icons button-fullscreen" appFullscreen fullscreenContainer="iwok-workbench"></i>
  </div>

  <nav class="navbar navbar-expand">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item logo-item">

      </li>

      <!-- User menu -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <!-- </a>(click)="selectOption({menu: 'iwok', group: 'user', option: 'logout'});">-->
            <i class="material-icons">exit_to_app </i>
            Close session
          </a>
        </div>
      </li>

      <!-- Iwok Dynamic Menu -->
      <ng-template appDynamicComponent></ng-template>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="viewDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          View
        </a>
        <div class="dropdown-menu" aria-labelledby="viewDropdown">
          <a class="dropdown-item" href="#">
            DSL perspective
          </a>
          <a class="dropdown-item" href="#">
            Model perspective
          </a>
          <a class="dropdown-item" href="#">
            Functionality perspective
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" appFullscreen fullscreenContainer="iwok-workbench">Toggle fullscreen</a>
          <a class="dropdown-item" href="#">Toggle
            console</a>
        </div>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="helpDropDown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="helpDropDown">
          <a class="dropdown-item" href="#">Wellcome</a>
          <a class="dropdown-item" href="#">Documentation</a>
          <a class="dropdown-item" href="#">Release
            Notes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">About</a>
        </div>
      </li>
    </ul>

  </nav>

</div>