<h1 class="text-center pt-4">Create an account!</h1>
<p class="text-center pb-4 text-muted">If you already have a XXX account, <a [routerLink]="['/public/login']">please
    sign
    in.</a>
</p>
<form class="mx-auto" [formGroup]="userForm" (ngSubmit)="onSubmit()" ngNativeValidate>

  <!---
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" class="form-control" name="username" id="username"
      placeholder="Username" required minlength="4" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
      <div *ngIf="f.username.errors.minlength">Username must be at least 4 characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="fullname">Full name</label>
    <input formControlName="fullname" type="text" class="form-control" name="fullname" id="fullname"
      placeholder="Full name" required [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
      <div *ngIf="f.fullname.errors.required">Fullname is required</div>
    </div>
  </div>
  --->

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" name="email" id="email" placeholder="Email"
      required [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be in valid format</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control" name="password" id="password"
      aria-describedby="passwordHelp" placeholder="Password" required minlength="6"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Username must be at least 6 characters</div>
    </div>

    <small id="passwordHelp" class="form-text text-muted">
      A strong password is a long password that's unique for every site. Try using a phrase with 5-6 words for the best
      security.
    </small>
  </div>

  <button type="submit" class="w-100 btn btn-primary text-uppercase" [disabled]="!userForm.valid">
    Create account
  </button>

</form>