/* You can add global styles to this file, and also import other style files */

html { height: 100%; width: 100%; font-size: 13px !important; box-sizing: border-box; }
body { position: relative; margin: 0; padding-bottom: 6rem; min-height: 100%; }