.login { background-color: #ececec; }

@media only screen and (min-width : 768px) {
 .separator-left { border-left: 1px solid gray; }
}

@media only screen and (min-width : 576px) {
  .login { background-color:transparent; }
}