<!-- TESEO PRIVATE LAYOUT -->

<div id="app-teseo" class="app-teseo h-100 w-100">

  <app-teseo-menu class="position-absolute w-100"></app-teseo-menu>

  <!-- Container -->
  <div class="w-100 h-100 position-relative">

    <div class="teseo-toolbar user h-100">
      a
      <i class="fab fa-accessible-icon"></i>
      <!--
        <app-iwok-wb-toolbar [selected]="viewMode" (select)="onSelectItemToolbar($event)"></app-iwok-wb-toolbar>
        -->
    </div>

    <div class="teseo-container h-100">

      <div class="w-100 h-100">
        <router-outlet></router-outlet>
      </div>

    </div>

    <div class="teseo-toolbar admin h-100" appHasRole="ROLE_ADMIN">
      b
      <!--
        <app-iwok-wb-toolbar [selected]="viewMode" (select)="onSelectItemToolbar($event)" type="admin"></app-iwok-wb-toolbar>
        -->
    </div>

  </div>

  <!-- Iwok Console -->
  <!--
    <app-iwok-wb-console class="iwok-wb-console" #iwokconsole collapse="true" (toggle)="onConsoleToogle($event)"></app-iwok-wb-console>
    -->

</div>