app-teseo-menu { top: 0px; left: 0px; z-index: 1 }
.teseo-container { padding: 55px 50px 0px 50px; }
.teseo-toolbar { position: absolute; top: 0px; width: 50px; padding-top: 55px; }
.teseo-toolbar.user { left: 0px; }
.teseo-toolbar.admin { right: 0px; }