<div id="app-teseo" class="app-teseo">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand p-0" href="#">
        <h3 class="pl-2 font-weight-bold title d-inline-block pb-0 pt-1">Detritus</h3>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/public/login']">Login</a>
          </li>
          <li class=" nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- Container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <div class="footer bg-dark">
    <div class="container">
      <div>
        <a href="#" class="pr-4 text-light">TEAM</a>
        <a href="#" class="pr-4 text-light">TOOLS</a>
        <a href="#" class="pr-4 text-light">STORE</a>
        <a href="#" class="pr-4 text-light">NEWSLETTER</a>
      </div>
      <div class="pt-2">
        <span class="text-muted pr-2">© 2019</span>
        <span class="text-muted pr-2">Detritus Software, Inc. All Rights Reserved.</span>
        <a href="#" class="pr-2">Terms of Use</a>
        <a href="#" class="pr-2">Privacy</a>
      </div>
    </div>
  </div>

</div>